.text_field{
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px #915EFF;
    transition: 0.7s;
}

.text_field:hover {
    color: #915EFF;
    transition: 0.7s;
    -webkit-text-stroke: 1px #915EFF;
}